@charset "utf-8";
	.Background
{
	background-image : url(Background.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -1px;
	top : 2px;
	width : 722px;
	height : 1595px;
}
