@charset "utf-8";
	.headerImage
{
	background-image : url(headerImage.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -3px;
	top : 0px;
	width : 727px;
	height : 551px;
}
