@charset "utf-8";
	.MangoLogo
{
	background-image : url(MangoLogo.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 60px;
	top : 1513px;
	width : 179px;
	height : 72px;
}
