@charset "utf-8";
	.September
{
	background-image : url(September.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 48px;
	top : 901px;
	width : 256px;
	height : 256px;
}
